<h1><%= @project.name %></h1>
<div>
	<img src="<%= @project.photo %>" />
</div>
<p><%= @project.description %></p>
<p>Started at: <%= @project.start_date %>, ends at <%= @project.end_date %></p>
<p>Funding goal: <%= @project.funding_goal %></p>
<p><strong> Rewards: <% @project.rewards.each do |reward| %></strong>
    <p><%= reward.title %></p>
    <p><%= reward.description %></p>
    <p><%= reward.amount %></p>
    <p><%= reward.cap %></p>
    <%= button_to 'Make a Pledge',
        project_pledges_path(@project, :reward_id => reward.id),
        :method => 'post' %>
<%end %>
</p>

<%= link_to "Edit Project", edit_project_path %>
<%= link_to "Back to all Projects", projects_path %>